{% extends 'header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    
</head>
<body>
    
   
      <h1><center>Welcome to signup</center></h1>   
      
      {% if msg %}
      <b style="color: blue;">
        {{msg}}
      </b>
      {% endif %}
      <div class="container mt-3">
        <h2>Signup form</h2>
        <form action="{% url 'signup' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
          <div class="mb-3 mt-3">
            <label for="email">First Name:</label>
            <input type="text" class="form-control" id="email" placeholder="Enter First Name" name="fname">
          </div>

          <div class="mb-3 mt-3">
            <label for="email">Last Name:</label>
            <input type="text" class="form-control" id="email" placeholder="Enter Last Name" name="lname">
          </div>
          <div class="mb-3 mt-3">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
          </div>
          <div class="mb-3 mt-3">
            <label for="email">Mobile:</label>
            <input type="tel" class="form-control" id="email" placeholder="Enter Mobile" name="mobile">
          </div>
        
          <div class="mb-3 mt-3">
            <label for="email">Address:</label>
            <input type="text" class="form-control" id="email" placeholder="Enter Address" name="address">
          </div>

          <div class="mb-3 mt-3">
            <label for="email">Gender:</label>
            <input type="radio" name="gender" value="male">Male
            <input type="radio" name="gender" value="female">Female
          </div>

          <div class="mb-3 mt-3">
            <label for="email">Password:</label>
            <input type="password" class="form-control" id="email" placeholder="Enter Password" name="password">
          </div>

          <div class="mb-3 mt-3">
            <label for="email">Confirm Password:</label>
            <input type="password" class="form-control" id="email" placeholder="Enter Confirm Password" name="cpassword">
          </div>
          
          <div class="mb-3 mt-3">
            <label for="email">Upload Profile Image:</label>
            <input type="file" class="form-control"  name="profile_pic">
          </div>
          <div class="form-check mb-3">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="remember"> Remember me
            </label>
          </div>
          <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
      </div>
</body>
</html>
{% endblock %}